/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: 600;
}
label span {
  color: rgb(174, 2, 2);
  margin-bottom: 8px;
  font-weight: 400;
}

input {
  width: 100%;
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: 400;
  color: black;
  border-radius: 0.25em;
  border: 1px solid #ccc;
}
form textarea {
  font-size: 1em;
  font-weight: 400 !important;
  min-height: 100px;
  resize: vertical;
  font-weight: 100;
}

.cm-anchor {
  cursor: pointer;
  color: #888;
  margin-left: 8px;
  font-weight: 400;
  font-size: 0.9em;
  transition: all 0.2s ease;
}
.cm-anchor:hover {
  color: #000;
}
